
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brands" routerLink="/"><i class="fa fa-star"></i>
        </a>
      </div>
      <ul class="nav navbar-nav">
      </ul>
      <ul class="nav navbar-nav navbar-right">
          <li>
        <div class="form-inline ml-auto">
            <div class="md-form my-0">
                <ng-container *ngIf="isSearch">
                  <input (input)="onSearchPipe($event)" aria-label="Search" class="form-control" placeholder="Search"
                         type="text">
                </ng-container>
              <button (click)="isSearch = true" class="btn btn-outline-white btn-md my-0 ml-sm-2" type="submit"><i class="fa fa-search" aria-hidden="true"></i>
              </button>
            </div>
        </div>
          </li>
        <li><i (click)="navigateToCart()" aria-hidden="true" class="fa fa-shopping-cart"></i><span
          class="count-item">{{cartItemCount}}</span>
          </li>
      </ul>
    </div>
  </nav>
