nav{
    border-radius: 0px;
    background: #4269ea;
}
.fa-star {
    font-size: 36px;
    margin-top: 8px;
    color: #f5cc29;
}
.btn-outline-white{
    background: transparent;
    font-size: 20px;
  color: #fff;
}
.fa-shopping-cart{
    font-size: 25px;
    color: #fff;
    cursor: pointer;
    margin-top: 10px;
    margin-right: 20px;
    margin-left: 10px;
}

.count-item {
  position: relative;
  right: 24px;
  top: -12px;
  padding: 1px 3px;
  background: red;
  border-radius: 31px;
  color: #fff;
  font-weight: bold;
}

@media only screen and (max-width: 800px) {
  .navbar-header {
    float: left;
  }

  .md-form input {
    float: left;
    border: 0px;
    border-radius: 0px;
    border-bottom: 1px solid #fff;
    color: #fff;
    background: transparent;
  }

  .md-form input:focus {
    box-shadow: none;
  }

  .md-form button {
    margin-top: -6px;
  }

  .md-form .hover-btn {
    margin-top: 0px;
    position: absolute;
    right: -5px;
    top: -4px;
  }
  .fa-star {
    font-size: 30px;
    margin-left: 10px;
  }

  ul {
    float: right;
  }

  ul li {
    display: inline-block;
  }
}
