<div class="col-md-12 main-div">
  <div classs="row">
    <ul>
      <li class="title">Short By</li>
      <li (click)="onSortList('high-low')" [ngClass]="{'activetab' : currentShortType === 'high-low'}">Price -- High
        Low
      </li>
      <li (click)="onSortList('low-high')" [ngClass]="{'activetab' : currentShortType === 'low-high'}">Price -- Low
        High
      </li>
      <li (click)="onSortList('discount')" [ngClass]="{'activetab' : currentShortType === 'discount'}">Discount</li>
    </ul>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-body" style="padding: 0px;">
    <i aria-hidden="true" class="fa fa-filter"></i> Sort
  </div>
</div>
