<div class="filter col-md-2">
    <app-filter></app-filter>
</div>
<div class="col-md-10 shopping-list">
        <div class="card col-md-2">
                <img src="http://lorempixel.com/500/600/technics" class="img-responsive" alt="Avatar" >
                <div class="container">
                  <h5><b>John Doe</b></h5> 
                  <p><b>319 </b> <del>  900</del></p> 
                  <div class="percent">
                      <h6>64% off</h6>
                  </div>

                  <div style="clearfix"></div>
                    <button type="button" class="add-to-cart">Add to Cart</button>
                </div>
              </div>
              <div class="card col-md-2">
                    <img src="http://lorempixel.com/500/600/technics" class="img-responsive" alt="Avatar" >
                    <div class="container">
                      <h6><b>John Doe</b></h6> 
                      <p><b>319 </b> <del>  900</del></p> 
                      <div class="percent">
                          <h6>64% off</h6>
                      </div>
                    </div>
                  </div> <div class="card col-md-2">
                        <img src="http://lorempixel.com/500/600/technics" class="img-responsive" alt="Avatar" >
                        <div class="container">
                          <h6><b>John Doe</b></h6> 
                          <p><b>319 </b> <del>  900</del></p> 
                          <div class="percent">
                              <h6>64% off</h6>
                          </div>
                        </div>
                      </div> <div class="card col-md-2">
                            <img src="http://lorempixel.com/500/600/technics" class="img-responsive" alt="Avatar" >
                            <div class="container">
                              <h6><b>John Doe</b></h6> 
                              <p><b>319 </b> <del>  900</del></p> 
                              <div class="percent">
                                  <h6>64% off</h6>
                              </div>
                            </div>
                          </div> <div class="card col-md-2">
                                <img src="http://lorempixel.com/500/600/technics" class="img-responsive" alt="Avatar" >
                                <div class="container">
                                  <h6><b>John Doe</b></h6> 
                                  <p><b>319 </b> <del>  900</del></p> 
                                  <div class="percent">
                                      <h6>64% off</h6>
                                  </div>
                                </div>
                              </div> <div class="card col-md-2">
                                    <img src="http://lorempixel.com/500/600/technics" class="img-responsive" alt="Avatar" >
                                    <div class="container">
                                      <h6><b>John Doe</b></h6> 
                                      <p><b>319 </b> <del>  900</del></p> 
                                      <div class="percent">
                                          <h6>64% off</h6>
                                      </div>
                                    </div>
                                  </div>
                                  
</div>