.container{
    margin-top: 100px;
}
.price-group {
    margin-top: 30px;
}
.discount {
    margin-left: 20px;
    color: green;
}
.fa{
    font-size: 20px;
    border: 1px solid darkgray;
    padding: 10px 12px;
    float: left;
    border-radius: 50px;
    margin: 15px;
}.quantity input {
    width: 20%;
    margin-top: 19px;
}
.quantity {
    margin-top: 15px;
}
.remove-btn {
    margin-top: 32px;
    font-size: 16px;
    font-weight: 500;
}
.row{
    margin: 0px !important;
}
.product-title {
    font-weight: 400;
}
.price-title h5 {
    border-bottom: 1px solid darkgray;
    padding: 15px 15px;
}
.price-body {
    padding: 0px 15px 15px;
}
.price-type{
    margin-bottom: 20px;
}
.price-footer{
    border-top: 1px solid darkgrey;
}

/*.panel-default{*/
/*  display: none;*/
/*}*/
@media only screen and (max-width: 800px) {
  .panel-body {
    padding-left: 0px;
    padding-right: 0px;
    border-bottom: 1px solid darkgray;
  }

  .discount {
    margin-left: 10px;
  }

  .text-left {
    color: #777;
    font-weight: 700;
    font-size: 18px;
  }

  .price-type h5 {
    font-size: 16px;
    font-weight: 700;
  }

  .remove-btn {
    background: transparent;
    margin-top: 0px;
    float: right;
    margin-right: 80px;
    font-weight: 700;
    font-size: 16px;
  }

  .quantity input {
    width: 14%;
    margin: 0px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .fa {
    font-size: 12px;
    margin: 0px;
    padding: 7px 8px;
  }

  .img-responsive {
    height: 130px !important;
  }
}
