.sidenav {
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: transparent;
    border-right: 1px solid #cbcbcb;
    padding-top: 80px;
    overflow-x: hidden;
  }

  .sidenav h3 {
    padding: 6px 6px 6px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #555;
    display: block;
  }

.sidenav a:hover {
    color: #f1f1f1;
  }

.filter-content{
      margin-top: 30px;
    padding: 6px 15px 6px 32px;
    display: block;
  }
  .btn-primary{
    margin-top: 25px;
    background: #4269ea;
    padding: 7px 40px;
    border-radius: 18px;
  }

.panel-default {
  margin-top: 100px;
  display: none;
}

.btn-info {
  display: none;
}

@media only screen and (max-width: 800px) {
  .sidenav {
    display: none;
  }

  .panel-default {
    cursor: pointer;
    margin-top: 68px;
    display: block;
    margin-bottom: 0px;
    text-align: center;
    top: 136px;
    font-size: 18px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}
