<div class="sidenav">
  <h3>Filters</h3>
  <div class="filter-content">
    <ng5-slider [(highValue)]="highValue" [(value)]="value" [options]="options"></ng5-slider>
    <h5 class="text-center" style="margin: 0px;">Price</h5>
    <div class="text-center">
      <button (click)="onFilterPrice()" class="btn  btn-primary" type="button">Apply</button>
    </div>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-body" data-target="#myModal" data-toggle="modal" style="padding: 0px;" type="button">
    <i aria-hidden="true" class="fa fa-filter"></i> Filter
  </div>
</div>

<!--<button #openPop (click)="abc()" class="btn btn-info" >-->
<!--</button>-->


<!-- Modal -->
<div class="modal fade" id="myModal" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">

      <div class="modal-body">
        <h4>Filter Options</h4>
        <div class="filter-content">
          <ng5-slider [(highValue)]="highValue" [(value)]="value" [options]="options"></ng5-slider>
          <h6>Price</h6>
        </div>
      </div>
      <div class="modal-footer">
        <!--        <div class="row">-->
        <button class="col-xs-6 btn" data-dismiss="modal" type="button">Cancel</button>
        <button (click)="onFilterPrice()" class="btn col-xs-6 apply-btn" data-dismiss="modal" type="button">Apply
        </button>
        <!--        </div>-->
      </div>
    </div>

  </div>
</div>
